:root {
    --borde: 1px solid black;
    --color_rojo_oscuro: #ab0038;
    --color_rojo_claro: #e20a4d;
    --color_verde_claro: #82e8e1;
    --color_verde_oscuro: #31c9ba;
    --color_oscuro: black;
    --color_gris_claro: #e9e9e9;
    --color_gris_oscuro: #666666;
    --color_negro_ghost: #0000008f;
    --texto_blanco: #fff;
    --header-height: 50px;
}

* {
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    /* background-color: var(--color_oscuro); */
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

nav > a {
    color: white;
}

nav > a:hover {
    text-decoration: underline;
    color: white;
}

section {
    /* border: var(--borde); */
}

.row > div  {
    /* border: 1px solid black */
}

header {
    background-color: var(--color_negro_ghost);
    height: var(--header-height);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

header .logo {
    width: 100px;
}

/* CLASES RECURRENTES */
.flex_all_centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-justify {
    text-align: justify;
}

.bordeado_arriba {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.w_60 {
    width: 60%;
}

.w_40 {
    width: 40%;
}

.pointer {
    cursor: pointer;
}

/* COLORES */

.txt_rojo_claro {
    color: var(--color_rojo_claro);
}

.txt_verde_claro {
    color: var(--color_verde_claro);
}

.txt_blanco {
    color: var(--texto_blanco)
}

.txt_gris_claro {
    color: var(--color_gris_claro)
}

.bg_rojo_claro {
    background-color: var(--color_rojo_claro);
}

.bg_gris_oscuro {
    background-color: var(--color_gris_oscuro);
}

.bg_gris_claro {
    background-color: var(--color_gris_claro);
}

.bg_verde_oscuro {
    background-color: var(--color_verde_oscuro);
}

.bg_verde_claro {
    background-color: var(--color_verde_claro);
}

.bg_blanco {
    background-color: #fff;
}

.bg_oscuro {
    background-color: var(--color_oscuro);
}

.bg_negro_ghost {
    background-color: var(--color_negro_ghost);
}

.bg_rojo_oscuro {
    background-color: var(--color_rojo_oscuro);
}

/* FIN COLORES */

.barrita_roja_vertical {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 8px;
    background-color: var(--color_rojo_claro);
}


/* PRESENTACION */

.parallax {
    height: calc(100vh - var(--header-height));
    background: url('https://i.ibb.co/R2HKwVh/merida.jpg') no-repeat fixed;
    background-size: cover;
    display: flex;
}

.presentacion_cel {
    background: url('https://i.ibb.co/R2HKwVh/merida.jpg') no-repeat;
    background-size: cover;

}

/* UBICACION */


/* ATRACCIONES */

/* .carousel-item {
    height: 500px;
} */

/* FIN ATRACCIONES */


/* CONDOMINIOS */
.logo_condominio {
    width: 50px;
}

.icono_condominio {
    font-size: 3em;
}

/* prueba */

#condominios_botones_container2 {
    display: flex;
}

#condominios_botones_container2 .boton_condominio2{
    width: 33.3%;
    text-align: center;
    border: var(--borde);
    cursor: pointer;
}

.boton_activo {
    background-color: blue;
}

/* fin  prueba */

.icono_ventajas {
    width: 100px;
}

/* FIN CONDOMINIOS */

/* VENTAJAS */

#ventajasCompetitivas .fa-check-circle {
    color: var(--color_verde_claro);
}

/* BOTON PADI */
.botonPadi {
    width: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: none;
    border: none;
}

.botonPadi img {
    width: 100%;
    border-radius: 50%;
}
/* FIN BOTON PADI */

@media only screen and (max-width: 768px) {
    .barrita_roja_vertical {
        display: none;
    }

    header {
        display: none;
    }

    .parallax {
        /* display: none; */
        flex-direction: column;
        height: unset;
        background-attachment: scroll;
        background-size: cover;
    }

    .w_60, .w_40 {
        width: 100%;
    }

    .w_40 {
        /* background: none; */
    }

    .carousel-item {
        height: 150px;
    }
}
